@using ASP_MVC_Library.Models
@model List<BookModel>

@{
    ViewBag.Title = $"Main page";
}

<div class="container">
    <div class="container mt-5">
        <div class="row row-cols-4 gy-3 col-10 text-break m-auto">
            @foreach (BookModel book in Model)
            {
                <a asp-controller="Product" asp-action="GetCurrentProduct" asp-route-id="@book.Id" class="link-offset-2 link-underline link-underline-opacity-0">
                    <div class="col lh-1 book-card mx-3 p-3 border rounded">
                        <p>Title: @book.Title</p>
                        <p>Author(-s): @string.Join(", ", book.Authors.Select(author => author.FirstName + " " + author.LastName))</p>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
